body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    border-radius: 6px;
}

.Custom, 
.Custom th {
    background-color: blue !important;
    color: white !important;
}

.highlightRow {
    background-color: #99cbf7;
    color: #014181;
    font-size: 16px;
    font-weight: bold;
}
